/build/
/verif/build/
/dist/
*.o
*.out
*.exe
*.a
*.so
*.dSYM
.vscode/
.idea/
.DS_Store



flattener.py
all_files.txt

#unecessary to keep all the broken saw/cryptol files in the repo
/doctor/cry/.
/doctor/saw/.
/doctor/failed.jsonl
