# verification folder

This is where I was messing with saw/cryptol files to try to verify some of the code in src. 

## cry
contains all the broken cryptol files

## saw
contains all the broken saw files

## doctor.py
runs and collects outputs of the saw/cryptol files inside saw_report.md and cryptol_report.md

## parser.py
takes jsonl and places the file in folder cry or saw